numpy>=1.26
scipy==1.13.*
matplotlib>=3.5
plotly>=4
pandas
jinja2
beautifulsoup4
nibabel
hlsvdpropy
fslpy>=3.9.0
pillow
spec2nii>=0.8.1
dill
dash
flask>=2.2
nifti-mrs>=1.3.2
fsl_sub
fsl_sub_plugin_sge
fsl_sub_plugin_slurm
dask-core
dask-jobqueue